.container-fluid {
  width: 90vw;
}

th {
  font-size: 1.1em;
  color: #334257;
  }

textarea {
  margin-bottom: 20px;
}

.btn {
  width: 180px;
  margin: 0 10px;}

.edit-screen .btn {
  position: relative;
  right: 10px;
}