:root {
  --theme-bg: #E6D5B8;
  --theme-text: #1B1A17;
  --theme-accent: #F0A500;
  --theme-other: #E45826;
}

h1, h2 {
  font-family: 'Lato', sans-serif;
  color: var(--theme-text);
}

p, li, a, .nav-link {
  color: var(--theme-text);
}

.flashes {
  color: var(--theme-accent);
}

/*---------------------------------------- NAVBAR ---------------------------------------*/
.navbar {
  background-color: var(--theme-accent);
}

/*---------------------------------------- GENERAL ---------------------------------------*/
.container-page {
  position: absolute;
  width: 100%;
  min-height: 100%;
  z-index: -1;
  background-color: var(--theme-bg);
}

.container-flex {
  margin: 3vh;
  max-width: 600px;
}

.btn {
  border: none;
  background-color: var(--theme-other);
  color: var(--theme-text);
}

/*----------------------------------------- RECIPES ----------------------------------------*/
#myUL a {
  margin-left: 10px;
  font-size: 1.2em;
}

input#title {
  width: 88vw;
}

.edit-del {
  text-decoration: none;
  color: var(--theme-other);
  margin-left: 5px;
}

.recipe_img {
  max-width: 300px;
  max-height: 100px;
}

/*---------------------------------------- TASK TABLE ---------------------------------------*/
.task-man {
  height: 18vh; width: 99vw;
}

th {
  font-size: 1.1em;
  color: var(--theme-accent);
  }

.btn {
  width: 150px;
  margin: 0 10px;}

/*---------------------------------------- EDIT SCREEN ---------------------------------------*/
textarea {
  margin-bottom: 20px;
}

.edit-screen .btn {
  position: relative;
  right: 10px;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

.check {
  position: relative;
  bottom: 2px;
}


/*--------------------------------- MEDIA QUERIES: DESKTOP --------------------------------*/
@media screen and (min-width: 990px) {

    input#title {
      width: 60vw;
    }

}