h1, h2 {
  font-family: 'Lato', sans-serif;
}

.flashes {
  color: red;
}

/*---------------------------------------- NAVBAR ---------------------------------------*/

.container-flex {
  margin: 3vh;
  max-width: 600px;
}

/*----------------------------------------- RECIPES ----------------------------------------*/
#recipeUL a {
  margin-left: 10px;
}

input#title {
  width: 88vw;
}

/*---------------------------------------- TASK TABLE ---------------------------------------*/
.task-man {
  height: 18vh; width: 99vw;
}

th {
  font-size: 1.1em;
  color: #334257;
  }

.btn {
  width: 150px;
  margin: 0 10px;}

/*---------------------------------------- EDIT SCREEN ---------------------------------------*/
textarea {
  margin-bottom: 20px;
}

.edit-screen .btn {
  position: relative;
  right: 10px;
}

ul {
  list-style-type: none;
  margin-top: 10px;
}

.check {
  position: relative;
  bottom: 2px;
}


/*--------------------------------- MEDIA QUERIES: DESKTOP --------------------------------*/
@media screen and (min-width: 990px) {

    input#title {
      width: 60vw;
    }

}