{% extends "base.html" %}
{% block content %}

  <div class="edit-screen container col-xxl-8 px-4 py-5">
      <h1 class="display-5 fw-bold lh-1 mb-3">Task #{{ task.id }}: {{ task.name }}</h1>
    <div class="row flex-lg-row-reverse align-items-start g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://picsum.photos/700/500" class="d-block mx-lg-auto img-fluid">
      </div>
      <div class="col-lg-6">
          <form action="" method="POST">
              {{ form.name.label }}
              {{ form.name(size=33) }}
              <!-- deleted out form.hours here -->
              {{ form.info }}<br>
            {{ form.submit }}
            <!--button class="btn btn-dark btn-lg px-4 me-md-2" type="submit">Submit</button>
            <a class="btn btn-dark btn-lg px-4 me-md-2" href="{{ url_for('home') }}">Home</a-->
          </form>
      </div>
    </div>
  </div>
{{ ckeditor.load() }}
{{ ckeditor.config(name="info") }}

{% endblock %}