<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" sizes="32x32" type="image/png">
    <title>Task List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
  <body>

  <div class="task-man p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4">Task Manager</h1>
    </div>
  </div>

  <div class="task-list container col-xxl-8 px-4 py-5">
  <h2>Active Tasks</h2>
  <table class="table">
  <thead>
  <tr>
    <th scope="col">Task name</th>
    <th scope="col">Date started</th>
    <th scope="col">Hours spent</th>
    <th scope="col">Start/end</th>
    <th scope="col">Complete</th>
  </tr>
  </thead>

  <tbody>
    {% for i in active_tasks %}
    <tr>
      <td><a href="/edit/{{ i.id }}"> {{ i.name }} </a></td>
      <td> {{ i.date_start }}</td>
      <td> {{ '%0.1f' | format(i.hours_spent|float) }}</td>
      {% if i.active == False %}
        <td><a class="btn btn-dark buttons" href="/start/{{ i.id }}">Start</a></td>
      {% else %}
        <td><a class="btn btn-primary buttons" href="/end/{{ i.id }}">End</a></td>
      {% endif %}
      <td><a class="btn btn-dark buttons" href="/complete/{{ i.id }}">Complete Task</a></td>
    </tr>
      {% endfor %}
  </tbody>
  </table>

    <a class="btn btn-dark buttons" href="{{ url_for('add') }}">Add new task</a>
    <br><br>
    <br><br>
<h2>Completed Tasks</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Task name</th>
        <th scope="col">Date started</th>
        <th scope="col">Date finished</th>
        <th scope="col">Hours spent</th>
      </tr>
      </thead>

      <tbody>
      {% for i in completed_tasks %}
      <tr>
        <td><a href="/edit/{{ i.id }}"> {{ i.name }} </a></td>
        <td> {{ i.date_start }}</td>
        <td> {{ i.date_end }}</td>
        <td> {{ '%0.1f' | format(i.hours_spent|float) }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

  </div>

  </body>
</html>
