{% extends "base.html" %}
{% block content %}

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://picsum.photos/700/500" class="d-block mx-lg-auto img-fluid">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">User Login</h1>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
                <div class="form-action">
                    <form action="{{ url_for('login') }}" method="post">
                        <input type="text" name="email" placeholder="Email address" required="required", autofocus="True"/>
                        <input type="password" name="password" placeholder="Password" required="required"/>
                        <br>
                        <button type="submit" class="btn btn-dark btn-lg px-4 me-md-2">Log In</button>
                        <a class="btn btn-dark btn-lg px-4 me-md-2" href="{{ url_for('home') }}">Home</a>
                    </form>
               </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}