{% extends "base.html" %}
{% block nav_recipes %}active{% endblock nav_recipes %}
{% block title %}{{ recipe.title }}{% endblock title %}
{% block content %}

<div class="container-page">
<div class="container-flex recipe-box">

<h1>{{ recipe.title }}</h1>
  {% if current_user.is_authenticated %}
  <span><a href="#" class="edit-del">Edit <i class="bi bi-pencil"></i></a>
    <a href="/delete_recipe/{{ recipe.id }}" class="edit-del">Delete <i class="bi bi-x-square"></i></a></span>
  {% endif %}

    <img src="/static/uploads/{{ recipe.image_url }}">

  <p>{{ recipe.recipe_body|safe }}</p>
  <a class="btn" href="{{url_for('recipes') }}">All Recipes</a>

</div>
</div>

{% endblock content %}
